<h1>All BOOKINGS</h1>
<ul>
<% @bookings.each do |booking|  %>
<li>
Booking date : <%=booking.date %>    &nbsp
Payment type : <%=booking.payment_type %>     &nbsp 
Driver name : <%=booking.driver_name %>     &nbsp 
passanger : <%=booking.user_name %>     &nbsp 
</li>
<%end%>
</ul>

<%= link_to "Book Cab", new_cab_booking_path %>