<h1>New booking</h1>

<%= form_with model: @booking, url: cab_bookings_path(params[:cab_id]) do |form| %>
  <div>
    <%= form.label :date %><br>
    <%= form.text_field :date %>
  </div>

  <div>
    <%= form.label :payment_type %><br>
    <%= form.text_field :payment_type %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
