<h1>Sign Up</h1>

<%= form_with model: @user do |form| %>
  <div>
    <%= form.label :first_name %><br>
    <%= form.text_field :first_name %>
  </div>

  <div>
    <%= form.label :last_name %><br>
    <%= form.text_field :last_name %>
  </div>

 <div>
    <%= form.label :password %><br>
    <%= form.password_field :password %>
  </div>
   <div>
    <%= form.label :password_confirmation%><br>
    <%= form.password_field :password_confirmation%>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
